
{% extends 'base_url.html' %}
{% load static %}
{% block title %}Login TechPhluent{% endblock %}
{% block content  %}
<script>
    $(document).ready(function() {
        $('#myForm').on('submit', function(e) {
            e.preventDefault(); // Prevent the form from submitting the traditional way
            
            $.ajax({
                type: 'POST',
                url: '{% url "forgetpassword" %}',  // URL to send the request to
                data: $(this).serialize(),  // Serialize the form data
                success: function(response) {
                    if (response.status === 'success') {
                        $('#message').html('<p style="color:green">' + response.message + '</p>');
                    } else {
                        let errors = '';
                        $.each(response.errors, function(key, value) {
                            errors += '<p>' + key + ': ' + value + '</p>';
                        });
                        $('#message').html(errors);
                    }
                },
                error: function() {
                    $('#message').html('<p>An error occurred.</p>');
                }
            });
        });
    });
    
</script>
</style>
<body style="background:#CCE6FF">
    <div class="container">
        <div class="row">
            <div class="col-lg-4" style="height:70px">
            </div>
        </div>
        
        <div class="row  d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                
                <div class="card">
                    <div class="card-body run">
                        <h4 class="card-title text-center text-bold">Computerized Document Management and Recommendation System</h4>
                        <center><img src="{% static 'assets/img/logo.jpeg' %}"/></center>
                        <form method="POST" action="{% url 'forgetpassword' %}" id="MyForm">
                            {% csrf_token %}
                            
                            
                            <div class="form-group mt-5">
                                <label for="username" class="h6">Email</label>
                                <input type="text" class="form-control" id="email" name="email" required>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary btn-block" style="background:#006ACB">send</button>
                        </form>
                        {% comment %} <div class="text-center mt-3">
                            <a href="{%  url 'forgetpassword' %}" class="text-secondary"> <span class="text-primary">Resend Link</span></a>
                        </div> {% endcomment %}
                        {% if messages%}
                            <div class="alert text-danger" role="alert" id="message">
                                {% for message in messages %}
                                    <h5 class="text-danger">{{ message }}</h5>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body>




{% endblock  %}