
{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %} TekPhluent CollabHub {% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/mylogo.png' %}">
        <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
        <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet" />
      
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link href="{% static 'assets/css/nucleo-svg.css' %}" rel="stylesheet" />
        <!-- Font Awesome Icons -->
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
        <!-- Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
        <!-- CSS Files -->
        <link id="pagestyle" href="{% static 'assets/css/material-dashboard.css' %}" rel="stylesheet" />
        <link id="pagestyle" href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
        <link id="pagestyle" href="{% static 'assets/css/check.css' %}" rel="stylesheet" />
        
        <link id="pagestyle" href="{% static 'assets/css/check.css' %}" rel="stylesheet" />

<script>
    // script.js
document.addEventListener("DOMContentLoaded", function() {
    const form = document.getElementById('MyForm');
    const password1 = document.getElementById('password1');
    

    form.addEventListener('submit', function(event) {
        const password = password1.value;
        let errorMessage = '';

        if (!/[A-Z]/.test(password)) {
            errorMessage += 'Password must contain at least one uppercase letter.<br>';
        }
        if (!/[a-z]/.test(password)) {
            errorMessage += 'Password must contain at least one lowercase letter.<br>';
        }
        if (!/\d/.test(password)) {
            errorMessage += 'Password must contain at least one number.<br>';
        }
        if (!/[\W_]/.test(password)) {
            errorMessage += 'Password must contain at least one special character.<br>';
        }
        if (password !== password2.value) {
            errorMessage += 'Passwords do not match.<br>';
        }

        if (errorMessage) {
            event.preventDefault(); // Prevent form submission
            passwordError.innerHTML = errorMessage; // Display error message
        } else {
            passwordError.innerHTML = ''; // Clear error message if validation passes
        }
    });
});

</script>
</head>
<body style="background:#CCE6FF">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="{% static 'assets/img/mylogo.png' %}" width="100%" height="120px"/>
            </div>
        </div>
        <div class="row  d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                
                <div class="card">
                    <div class="card-body run">
                        <h6 class="card-title text-center">Enter your new Password Here</h6>
                        <form method="POST" action="{% url 'resetpassword' %}" id="MyForm">
                            {% csrf_token %}
                            
                             {{ drmail }}
                            <div class="form-group my-3">
                                <label for="password" class="h6">password</label>
                                <input type="text" class="form-control" id="password1" name="password" required>
                            </div>
                            <div class="form-group mb-3">
                                <label for="password" class="h6">Confirm Password</label>
                                <input type="text" class="form-control" id="repassword" name="repassword" required>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary btn-block" style="background:#006ACB">send</button>
                            <a href="{%  url 'Myhome' %}">Back to login</a>
                            <div id="password-error" style="color: red;"></div>
                        </form>
                        {% comment %} <div class="text-center mt-3">
                            <a href="{%  url 'forgetpassword' %}" class="text-secondary"> <span class="text-primary">Resend Link</span></a>
                        </div> {% endcomment %}
                        {% if messages%}
                            <div class="alert text-danger" role="alert">
                                {% for message in messages %}
                                    <p>{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>